// Typography
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: $font-avengeance;
}

h1 {
    @include font-size(6rem);
    // letter-spacing: 30px;
    text-transform: capitalize;
}

h2 {
    @include font-size(2.5rem);
    font-family: $font-avengeance;
    position: relative;
    padding-bottom: 25px;

    &::after {
        position: absolute;
        content: '';
        background-image: url(./assets/images/brush.png);
        width: 377px;
        height: 12px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-repeat: no-repeat;
    }
}