.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    transition: all .3s ease-in-out;

    &.sticky-header {
        background-color: $primary;
        padding: 0.5rem 0;

        .navbar-nav {
            .nav-link {
                &:hover {
                    color: $black;
                }
            }
        }

        .navbar-toggler {
            span {
                background-color: $white;
            }
        }
    }

    .navbar {
        padding: 0;
        align-items: flex-start;

        &-toggler {
            border-color: transparent;

            span{
                width: 40px;
                height: 2px;
                display: block;
                background-color: $primary;
                margin: 10px 5px;   
            }

            &:not(.collapsed) {
                span{
                    &:first-child{
                        display: none;
                    } 
                    &:nth-child(2){       
                        transform: rotate(45deg);
                    }
                    &:nth-child(3){
                        transform: rotate(-45deg);
                        margin-top: -12px;
                    }
                }
            }   
        }
        &-collapse.show {
            // background-color: $dark-gray-2;
            padding: 1rem;
            transition: all .2s;
        }
        &-nav {
            background-color: rgba($dark-pink, 0.61);
            height: 109px;
            // padding: 38px 0;
            padding-left: 64px;

            .active {
                .nav-link {
                    color: $white;
                }
            }
            .nav-link {
                color: $white;
                @include font-size(1rem);
                font-weight: 300;
                padding-right: 54px;
                padding-left: 0;
                padding-top: 43px;
                padding-bottom: 42px;

                &:hover {
                    color: $yellow;
                }

                i {
                    @include font-size(0.375rem);
                    margin-left: 4px;
                }
            }

            .nav-item {
                position: relative;
            }
        }
    }
}

.header {
    &-icon {
        position: relative;
        background-color: $primary;
        padding: 38px 0;
        padding: 31px 0 30px;

        &:after {
            position: absolute;
            content: '';
            background-color: $primary;
            top: 0;
            bottom: 0;
            left: 100%;
            width: 100%;
        }
        li {
            @include font-size(2rem);
            padding-left: 3.6875rem;

            a {
                color: $white;

                &:hover {
                    color: $yellow;
                }
            }
        }
    }
}